<template>
  <div>
    <div class="menu">
      <input type="radio" id="all" value="all" v-model="filter">
      <label for="all">Все</label>
      <input type="radio" id="completed" value="completed" v-model="filter">
      <label for="completed">Активные</label>
      <input type="radio" id="not-completed" value="not-completed" v-model="filter">
      <label for="not-completed">Не активные</label>
    </div>

    <TodoList
        v-if="filteredTodos.length"
        v-bind:todos="filteredTodos"
        @remove-todo="removeTodo"
    />
    <p v-else>Нет задач</p>
    <AddTaskForm
        @add-task-form="addTaskForm"
    />
  </div>
</template>

<script>
import TodoList from '@/components/TodoList'
import AddTaskForm from '@/components/AddTaskForm'
export default {
  name: 'App',
  data() {
    return {
      todos: [
      ],
      filter: 'all'
    }
  },
  mounted() {
    fetch('https://jsonplaceholder.typicode.com/todos?_limit=4')
        .then((response) => response.json())
        .then(json => {
          this.todos = json
        })
  },
  computed: {
    filteredTodos() {
      var f
      if (this.filter == "all") {
        f = this.todos
      }
      else if (this.filter == "completed") {
        f = this.todos.filter((t) => !t.completed)
      }
      else if (this.filter == "not-completed") {
        f = this.todos.filter((t) => t.completed)
      }
      return f
    }
  },
  methods: {
    removeTodo(id) {
      this.todos = this.todos.filter((t) => t.id !== id)
    },
    addTaskForm(todo) {
      this.todos.push(todo)
    }
  },
  components: {
    TodoList, AddTaskForm
  }
}
</script>

<style>
.menu {
  display: flex;
  justify-content: flex-start;
}
</style>