<template>
  <form class="add-task-form" @submit.prevent="onSubmit">
    <h3 class="add-task-form__title">Добавить задачу</h3>
    <input class="add-task-form__input" type="text" v-model="title">
    <br/>
    <button class="add-task-form__button" type="submit">Добавить задачу</button>
  </form>
</template>

<script>
export default {
  data: () => ({ title: '' }),
  methods: {
    onSubmit() {
      if (this.title.trim()) {
        const newTodo = {
          id: Date.now(),
          title: this.title,
          completed: false
        }
        this.$emit('add-task-form', newTodo)
        this.title = ''
      }
    }
  }
}
</script>

<style scoped>
.add-task-form {
  display: flex;
}

.add-task-form__input {
  width: 400px;
}
</style>