<template>
  <ul class="list">
    <TodoItem
        v-for="(todo,i) in todos"
        :key="i"
        :index="i"
        :todo="todo"
        v-on:remove-todo="removeTodo"
    />
  </ul>
</template>

<script>
import TodoItem from '@/components/TodoItem'
export default {
  props: ['todos'],
  components: {
    TodoItem
  },
  methods: {
    removeTodo(id) {
      this.$emit('remove-todo', id)
    }
  }
}
</script>

<style scoped>
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
</style>
<!-- scoped - позволяет этим стилям быть видным внутри этого компонента-->