<template>
  <li class="todo-item">
    <span class="todo-item__span" v-bind:class="{done: todo.completed}">
      <input class="todo-item__span__checkbox" type="checkbox" v-on:change="todo.completed=!todo.completed">
      <strong class="todo-item__span__text">{{index + 1}}</strong>
      {{todo.title}}
    </span>
    <button class="todo-item__button"
            v-on:click="$emit('remove-todo', todo.id)"
    >&times;</button>
  </li>
</template>

<script>
export default {
  props: {
    todo: {
      type: Object,
      required: true
    },
    index: Number
  }
}
</script>

<style scoped>
.todo-item {
  boarder: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: .5rem 2rem;
  margin-bottom: 1rem;
}

.todo-item__button {
  background: red;
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
}

.todo-item__span__checkbox {
  margin-right: 1rem;
}

.done {
  text-decoration: line-through;
}
</style>